@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* min-height: 100vh; */
	/* margin: 0; */
	/* box-sizing: border-box; */
}

#svelte {
	/* background: white; */
	/* min-height: 100vh; */
	/* display: flex;
	flex-direction: column; */
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}
